:root {
  --color-sage: #ACB497;
  --color-cream: #f5e9bf;
  --color-rust: #aa644d;
  --color-plum: #372a39;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--color-cream);
  color: var(--color-plum);
}

h1, h2, h3 {
  font-family: 'Comfortaa', sans-serif;
}

.commission-home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 600px;
  height: auto;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-nav li {
  position: relative;
}

.main-nav a {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--color-rust);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  display: inline-block;
}

.main-nav a:hover,
.main-nav a:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.main-nav a:active {
  background: var(--color);
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.social-icons a {
  color: var(--color-plum);
  font-size: 74px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--color-rust);
}

.commission-types-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.commission-type-section {
  margin-bottom: -10px;
}

.commission-type-header {
  margin-bottom: 20px;
}

.type-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: var(--color-plum);
}

.type-description {
  text-align: left;
  color: var(--color-plum);
  margin-top: 0px;
  margin-bottom: 10px;
}

.image-row-container {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--color-rust);
  
  padding: calc(.5em + var(--s));
  padding-right: 10px;
  padding-left: 10px;
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  margin: 20px auto;
  max-width: 1170px;
  position: relative;
  overflow: visible;
}

.image-row {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding: -10px 0;
  position: relative;
}

.image-row::-webkit-scrollbar {
  display: none;
}

.image-container {
  display: flex;
  gap: 10px;
  padding: 0 1px;
}

.image-wrapper {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.image-wrapper:last-child {
  margin-right: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.05);
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-rust);
  color: var(--color-rust);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button.prev {
  margin-left: -60px;
  background-color: var(--color-rust);
  color: var(--color-cream);
}

.nav-button.next {
  margin-right: -60px;
  background-color: var(--color-rust);
  color: var(--color-cream);
}

.commission-type {
  background-color: var(--color-sage);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1170px;
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commission-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.commission-table, .background-price-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-cream);
  margin-bottom: 10px;
}

.background-price-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-cream);
  margin-bottom: 0px;
}

.commission-table th, .commission-table td,
.background-price-table th, .background-price-table td {
  border: 1px solid var(--color-plum);
  padding: 8px;
  text-align: left;
}

.commission-table th, .background-price-table th {
  background-color: var(--color-rust);
  color: var(--color-cream);
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.full-size-image {
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.quote-calculator {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid var(--color-plum);
  border-radius: 8px;
  background-color: var(--color-sage);
  color: var(--color-cream);
}

.quote-calculator h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-cream);
}

.quote-calculator div {
  margin-bottom: 15px;
}

.quote-calculator label {
  display: block;
  margin-bottom: -5px;
  font-size: 24px;
  font-weight: bold;
}

.quote-calculator select,
.quote-calculator input,
.quote-calculator button {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-plum);
  border-radius: 4px;
  background-color: var(--color-cream);
  color: var(--color-plum);
  margin-top: 10px;
  font-size: 20px;
}

.quote-calculator button {
  background-color: var(--color-rust);
  color: var(--color-cream);
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.quote-calculator button:hover {
  background-color: #995a45;
}

.quote-result {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--color-cream);
  border: 1px solid var(--color-rust);
  border-radius: 4px;
  color: var(--color-plum);
}

.quote-result h3 {
  color: var(--color-rust);
  margin-bottom: 10px;
}

.additional-characters-input {
  display: flex;
  align-items: center;
}

.additional-characters-input button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-rust);
  color: var(--color-cream);
  border: none;
  cursor: pointer;
}

.additional-characters-input button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.additional-characters-input input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
  margin-top: 10px;
}

.type-disclaimer {
  font-style: italic;
  color: var(--color-rust);
  margin-top: 10px;
  text-align: left;
}

.background-price-subtitle {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 768px) {
  .image-wrapper {
    width: 150px;
    height: 150px;
  }

  .commission-table, .background-price-table {
    font-size: 14px;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin-bottom: 10px;
  }

  .main-nav a {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .image-wrapper {
    width: 120px;
    height: 120px;
  }

  .commission-table, .background-price-table {
    font-size: 12px;
  }

  .social-icons {
    gap: 40px;
  }

  .social-icons a {
    font-size: 50px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-rust);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.scroll-to-top:hover {
  background-color: #A0522D;
  transform: scale(1.1);
}

.scroll-to-top::before {
  content: '\2191';
  font-size: 28px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 5px;
}

/* New styles for CurrencySwitch */
.currency-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-sage);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-cream);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-rust);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.currency-label {
  color: var(--color-plum);
  font-weight: bold;
}

@media (max-width: 768px) {
  .currency-switch {
    position: static;
    justify-content: center;
    margin-top: 20px;
  }
}
